body{
    background: linear-gradient(to bottom, #004785, #ffd700);
    height: 100vh;
}
.final-container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.final-h1 {
    color: black;
    text-align: center;
}
.final-summary {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
 p {
    font-size: 16px;
    line-height: 1.6;
    color: black;
}
 span {
    font-weight: bold;
}
.final-footer {
    text-align: center;
    margin-top: 30px;
}

.Mileage{
    color: red;
}

.Cash{
    color: red;
}
.TotalAmount{
    font-size: 18px;
    color: black;
}

.button1 {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
