.gal {
    text-align: center;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 800px;
    margin: auto;
}

.grid-item {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.grid-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.grid-item:hover img {
    transform: scale(1.1);
}

.grid-item-details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
    transition: 0.3s ease;
    transform: translateY(100%);
}

.grid-item:hover .grid-item-details {
    transform: translateY(0);
}

.grid-item-details h2 {
    margin: 0;
    font-size: 18px;
}

.grid-item-details p {
    margin: 5px 0 0;
    font-size: 14px;
}

@media (max-width: 800px) {
    .image-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .image-grid {
        grid-template-columns: 1fr;
    }
}


@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}