
.gal {
    text-align: center;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 800px;
    margin: auto;
}

.grid-item {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.grid-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.grid-item:hover img {
    transform: scale(1.1);
}

.grid-item-details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
    transition: 0.3s ease;
    transform: translateY(100%);
}

.grid-item:hover .grid-item-details {
    transform: translateY(0);
}

.grid-item-details h2 {
    margin: 0;
    font-size: 18px;
}

.grid-item-details p {
    margin: 5px 0 0;
    font-size: 14px;
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
    text-align: center;
    position: relative;
}

.mySlides img {
    max-width: 500px;
    max-height: 500px;
    margin: auto;
    display: block;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 4px;
}

/* Caption text */
.text {
    color: gold;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/9 etc) */
.numbertext {
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 8px;
    width: 100%;
    text-align: center;
    z-index: 10;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation -- Slideshow css adapted from examples provided by W3Schools */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* Previous & next buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px; /* Adjust as needed to center vertically */
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.6); /* Semi-transparent background */
}


.next {
    right: 33.3%;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 33.3%;
    border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* End of Slideshow css adapted from examples provided by W3Schools*/
@media (max-width: 800px) {
    .image-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .image-grid {
        grid-template-columns: 1fr;
    }
}
